<div>
  <h2>Student Information Summary </h2>
  <h4>Full name</h4>
  <h3>
    <%= @full_name %>
  </h3>
  <h4>Student ID</h4>
  <h3>
    <%= @student_ID %>
  </h3>
  <h4> Inteded Major</h4>
  <h3>
    <%= @major %>
  </h3>
</div>
